<div class="content">
  <h2>Registered guests</h2>

  <ol>
    <% @tickets.each do |ticket| %>
      <li><%= ticket.status %> - <%= ticket.name %>
    <% end %>
  </ol>

  <%= link_to 'Clear guests and start over again with 5 tickets available', reset_path, class: 'button'  %>
</div>
