<% content_for :head do %>
  <script src="https://js.stripe.com/v3/"></script>

  <script type="text/javascript">
    const setupStripe = () => {
      console.log('setupStripe ran')
      const stripe = Stripe('pk_test_3rCk8Ewa2UTc79iWJZDCeKmH00plww4RXx');

      document
        .getElementById("checkout")
        .addEventListener('click', (event) => {
          stripe.redirectToCheckout({
            sessionId: '<%= @stripe_session.id %>'
          })
        })
    }

    window.onload = setupStripe;
  </script>

<% end %>

<div class="content">
  <p>Nice to meet you <%= @ticket.name %>!</p>
  <p>We reserved your ticket for 5 minutes.</p>
  <p>Please complete the purchase using your test credit card</p>

  <button id="checkout">Checkout</button>
</div>
