body {
  background: #e9e8e8;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.container {
  max-width: 450px;
}

.content {
  margin-bottom: 100px;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
}

input[type="text"] {
  display: block;
  font-size: 20px;
  width: 280px;
}

@mixin button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #4a97d7;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 25px;
  margin-top: 30px;
  text-decoration: none;
}

input[type="submit"] {
  @include button;
}

.button {
  @include button;
}
